<div data-role="page">
	<div data-role="header">
		<h1>Quicktask</h1>
		<a href="#about" data-rel="dialog" data-icon="info" data-theme="b" class="ui-btn-right">Help</a>
	</div>
	<div data-role="content">
		<form action="/add" method="post" data-ajax="false">
			<input type="text" name="task" id="name" value="" style="margin-bottom: 20px;">
			<button type="submit" data-theme="b">Add</button>
		</form>
	</div>
</div>
<div data-role="page" id="about">
	<div data-role="header">
		<h1>About</h1>
	</div>
	<div data-role="content">
		<h3>What is Quicktask?</h3>
		<p>Quicktask is an application to allow you to quickly and easily add task to your Taskforce to do list from your mobile phone in one quick. No hassle - just productivity.</p>
		<h3>Who created Quicktask?</h3>
		<p>Quicktask was created by <a href="http://www.twitter.com/timrogers" rel="external">Tim Rogers</a>, an employee of Tyrant Inc, the creators of Taskforce.</p>
	</div>
</div>
